@import "tailwindcss";

@theme {
    
    /*Tamanhoa*/
    
    --spacing-30: 7.5rem;
    --spacing-290px: 290px;
    --spacing-396px: 396px;
    --spacing-500px: 500px;
    --spacing-980px: 980px;

    /*Tamanho de fonte*/
    
    --text-subtitle: 1.7rem;

    /*Cores*/

    --color-main-gray: #f0f2f5;
    --color-main-blue: #1877f2;
    --color-main-green: #42b72a;
    --color-blue-hover: #166fe5;
    --color-green-hover: #36a420;

}